################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebSite/.vs/MyWebSite/v15/Server/sqlite3/storage.ide
