################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebSite/.vs/MyWebSite/v15/Server/sqlite3/storage.ide
/MyWebSite/.vs/MyWebSite/v15/Server/sqlite3/storage.ide-shm
/MyWebSite/.vs/MyWebSite/v15/Server/sqlite3/storage.ide-wal
/MyWebSite/.vs/MyWebSite/v15/Server/sqlite3/db.lock
